
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0c3866;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(54deg,#0c3866 34%, #4a4cb3);
    height: 100vh;
}

input[type=text], select {
    width: 100%;
    padding: 6px 10px 6px;
    margin: 6px 0px 12px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 1px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: lightgrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgrey;
}

input[value=Login]{
    color: black;
}



h1, p{
    color:white;
}

h2{
    margin-bottom: 10px;
}
#login_box {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 40px 35px 30px;
    color: dimgrey;
    max-width: 400px;
}

/* Styling the list within the navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 30px 30px;
}

/* Styling the list items */
nav ul li {
    display: inline;
}

/* Styling the links */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* Adjust padding to increase/decrease the size of the clickable area */
}

/* Styling the links on hover */
nav ul li a:hover {
    border-bottom: 2px solid white; /* Underline effect */
}

.about{
    background-color: white;
    padding-top: 30px;
    padding-left: 20px;
}

.color-block {
    width: 0px; /* Adjust width as needed */
    background-color: #0c3866; /* Set background color */
    padding-left: 8px;
    margin-left: 20px;
    margin-top: 30px;
    display: inline-block; /* Display elements inline */
}

.image{
    text-align: center;
}


.flex-container {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 50%;
    padding-left: 50px;
    padding-top: 10%;
}

.right {
    padding: 10px;
    flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 680px) {
    .flex-container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

    }
}
.head{
    height:200px;
}