
* {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
    color: #0c3866;
}

body {
    background-color: lightgrey;
}

input[type=text], select {
    width: 100%;
    padding: 6px 10px 6px;
    margin: 6px 0px 12px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: lightgrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgrey;
}

input[value=Login]{
    color: black;
}

#login_box {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px 35px 30px;
    width: 500px;
    margin-left: 50%;
}
